@page "/game/{Id}"

@using Codenames.Data;
@using Microsoft.AspNetCore.Http;

@inject WordService _wordService
@inject IHttpContextAccessor _contextAccessor

@if (game == null)
{
    game = _wordService.GetGame(int.Parse(Id));
}
@if (game != null)
{
    int? userId = _contextAccessor.HttpContext.Request.Cookies.ContainsKey("userid")
        ? (int?)int.Parse(_contextAccessor.HttpContext.Request.Cookies["userid"])
        : null;

    var showJoin = !game.Players.Any(a => a.playerId == userId);
    var showRedSmJoin = !game.Players.Any(a => a.isSpyMaster && a.team == Team.Red);
    var showBlueSmJoin = !game.Players.Any(a => a.isSpyMaster && a.team == Team.Blue);
    var showLeave = game.Players.Any(a => a.playerId == userId);

    <div class="button-row">
        @if (showLeave)
        {
            var playerTeam = game.Players.First(f => f.playerId == userId);
            <span class="current-team-hint" style="color: @playerTeam.team.ToString().ToLower()">You are on Team @playerTeam.team.ToString()</span><br />
        }

        <button type="button" class="join btn btn-primary neutral @(showJoin ? "" : "hide")" onclick="joinGame()">Join Game</button>
        <button type="button" class="sm-join btn btn-primary red @(showRedSmJoin ? "" : "hide")" onclick="joinGameAsSm(0)">Join Game as Red SM</button>
        <button type="button" class="sm-join btn btn-primary blue @(showBlueSmJoin ? "" : "hide")" onclick="joinGameAsSm(1)">Join Game as Blue SM</button>
        <button type="button" class="leave btn btn-primary assassin @(showLeave ? "" : "hide")" onclick="leaveGame()">Leave Game</button>
        <button type="button" class="leave btn btn-primary assassin float-right @(showLeave ? "" : "hide")" onclick="pass()">Pass</button>
    </div>
    <form class="sm-inputs @(game.Players.Any(w => w.isSpyMaster && w.playerId == userId) ? "" : "hide")" onsubmit="playClue(event)">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Message" aria-label="Message">
            <select>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="unlimited">unlimited</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <span class="oi oi-arrow-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
    <div class="sm-clue">
        <span class="sm-team">@game.CurrentTeam.ToString().ToLower()</span>:
        <span class="sm-hint bold">@(game.PendingSpymaster ? "" : game.Clue)</span> (<span class="sm-count">@(game.PendingSpymaster ? "" : (game.GuessesRemaining == int.MaxValue ? "unlimited" : game.GuessesRemaining.ToString()))</span>)
    </div>
    <div class="row">
        <div class="col-lg order-lg-1">
            <WordGridControl game="game"></WordGridControl>
        </div>
        <div class="col-sm red-chat-column order-lg-0">
            <ChatControl id="red-chat">Red Chat</ChatControl>
        </div>
        <div class="col-sm blue-chat-column order-2">
            <ChatControl id="blue-chat">Blue Chat</ChatControl>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    Game game = null;
}
